<section class="newsletter-signup-wrapper">
 <img src="https://cdn.shopify.com/s/files/1/0652/7909/9130/files/ECOalition_Site_Background_Images-3500x240-Join-min.jpg?v=1672323789">
  
<div class="newsletter-mid">
<div class="page-width">
  <form action="/action_page.php">
  <div class="container">
    <div class="form_inner_clm">
    <h2> Join the Movement</h2>
    <h4> We're on a mission to plant <strong> 1 million trees </strong></h4>
    <p>Subscribe to email alert so you never miss an updates about the <br/> SEA. TREE. PLANT movement and new ways to support our missoin! </p>

  <div class="form_container">
    <div class="form_field">
        <input type="text" placeholder="First Name" name="name" required>
    </div>
    <div class="form_field">
      <input type="email" placeholder="Email" name="mail" required>
    </div>
    <div class="form_field">
      <input type="submit" class="join_btn" value="Join Our Newsletter">
    </div>
  </div>
  </div>
</form>
</div
</div>
</section>

{% schema %}
  {
    "name": "Newsletter signup",
    "settings": [],
    "presets": [
      {
        "name": "Newsletter signup"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}